
<div>
  <h1>To Do's</h1>
  <p><%= link_to 'New', new_gsd_path %></p>


  <% @gsds.each do |gsd| %>
  <h2><%= gsd.item %></h2>
    <%= link_to 'Info', gsd_path(gsd) %>
  <%= link_to 'Edit', edit_gsd_path(gsd) %>
  <%= link_to 'Delete', gsd, method: :delete %>
<% end %>
</div>
